cffi==2.0.0
click==8.4.1
contourpy==1.3.3
cycler==0.12.1
fonttools==4.63.0
helics==3.6.1
kiwisolver==1.5.0
matplotlib==3.10.9
numpy==2.4.6
packaging==26.2
pillow==12.2.0
pycparser==3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
six==1.17.0
strip-hints==0.1.13
wheel==0.47.0
